@import "tailwindcss";
@import "./base.css";
@import "./utilities.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --spacing: 8px;
  --color-foreground-white: #ededed;
  --color-primary: #f0f6fe;
  --color-secondary: #1b08ab;
  --color-secondary-foreground: #1b08ab;
  --color-secondary-button: #f0f6fe;
  --color-secondary-lighter: #e8e5ff;
  --color-accent-pink: #fd07a2;
  --color-accent-yellow: #f9dd48;
  --color-emphasis: #ecbdbd;
  --color-skeleton-base: #919eb9;
  --color-skeleton-highlight: #1749af;
  --text-size-sm: clamp(1rem, 3vw, 1.25rem);
  --text-size-md: clamp(1.5rem, 3vw, 1.75rem);
  --text-size-lg: clamp(2rem, 3vw, 2.25rem);
  --text-size-xl: clamp(2.5rem, 3vw, 3rem);
  --breakpoint-mobile-md: 430px;
  --breakpoint-tablet: 768px;
}

[data-theme="dark"] {
  --color-primary: #0b0d19;
  --color-secondary: #1b087e;
  --color-accent-yellow: #ebc26d;
  --color-secondary-foreground: var(--color-foreground-white);
  --color-secondary-button: #1c1f37;
  --color-skeleton-base: #d1d6df;
  --color-skeleton-highlight: #4077e6;
}
